{% extends 'base.html.twig' %}

{% block title %}Hello ProfController!{% endblock %}

{% block body %}

<h3>Bonjour {{user.nom}} voici tes eleves : </h3>
{% for eleve in eleves %}
<div class="card mb-3 col-6 mx-auto" >
  <div class="card-header" {% if eleve.status == "beginner" %}style="background-color: red;" {% else %} {% if eleve.status == "intermediate" %}style="background-color: orange;" {% else %} {% if eleve.status == "advanced" %}style="background-color: green;"{% endif %}{% endif %}{% endif %}>
    <h5 class="card-title">{{ eleve.prenom }} {{ eleve.nom }}</h5>
  </div>
  <div class="card-body">
    <div class="container">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">Numéro</th>
            <td>{{ eleve.id }}</td>
          </tr>
          <tr>
            <th scope="row">Notes</th>
            <td>
              <button class="btn btn-link" data-toggle="modal" data-target="#notesModal">notes</button>
            </td>
          </tr>
          <tr>
            <th scope="row">Mail</th>
            <td>{{ eleve.email }}</td>
          </tr>
          <tr>
            <th scope="row">Présence</th>
            <td class="jn" {{ stimulus_controller('students', {url: "/"}) }}>
              <button id="mbutton_{{eleve.id}}" class="btn btn-link" data-action="students#onChangePresenceClick" data-entry-presence="Present" data-entry-eleveid={{eleve.id}}>
                <img id="image_{{eleve.id}}" src="{{asset('images/toggle-on-solid.svg')}}" alt="" height="20">
              </button>
              <p id="result_{{eleve.id}}" style="color: green;">Present</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
